html
    head
        link(rel="stylesheet" href="/css/style.css")
    body
        form(action = "/editProduct" method="POST")
            label id
            input(name="id" type="hidden" value=product.id)
            label name
            input(name="name" type="text" value=product.name)
            br
            label price
            input(name="price" type="number" value=product.price)
            br
            select(name="category") Category
                each c in categories
                    option(value=c.id selected=(c.id == product.category_id))= c.name
            br
            input(type="submit" value="save")
        a(href="/prod") List products
        p=message
